body {
    background-color: #FFA8B3;
    margin: auto;
    color: white;
    font-family: monospace;
}

table, th, td {
    border: 1px solid white;
    margin: auto;
    width: 50%;
    padding: 10px;
}